<%#
name: Windows default
snippet: false
model: Ptable
oses:
- Windows
-%>
<DiskConfiguration>
  <Disk wcm:action="add">
    <CreatePartitions>
      <CreatePartition wcm:action="add">
        <Order>1</Order>
        <Type>Primary</Type>
        <Size>350</Size>
      </CreatePartition>
      <CreatePartition wcm:action="add">
        <Order>2</Order>
        <Type>Primary</Type>
        <Size>122880</Size>
      </CreatePartition>
    </CreatePartitions>
    <ModifyPartitions>
      <ModifyPartition wcm:action="add">
        <Order>1</Order>
        <PartitionID>1</PartitionID>
        <Label>System Reserved</Label>
        <Format>NTFS</Format>
        <Active>true</Active>
      </ModifyPartition>
      <ModifyPartition wcm:action="add">
        <Active>false</Active>
        <Extend>false</Extend>
        <Format>NTFS</Format>
        <Label>SYSTEM</Label>
        <Letter>C</Letter>
        <Order>2</Order>
        <PartitionID>2</PartitionID>
      </ModifyPartition>
    </ModifyPartitions>
    <DiskID>0</DiskID>
    <WillWipeDisk>true</WillWipeDisk>
  </Disk>
</DiskConfiguration>
