<%= javascript 'foreman_wds/host_edit_extensions' %>
<% wds_facet = @host.wds_facet || @host.build_wds_facet -%>

<div id="wds_provisioning" <%= display? !@host.wds_build? %>>
  <span id="wds_server_select">
    <%= render 'wds_servers/server_select', item: wds_facet %>
  </span>

  <span id="wds_image_select">
    <%= render 'wds_servers/image_select', item: wds_facet %>
  </span>
</div>
